body {
    font-family: 'Oswald', serif;
         }
nav {
    font-size: 30px;
    color:#1a8fc6;
    padding: 3px;
}
h2 {
    color:#1a8fc6;
}

.flex-container1 {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: DodgerBlue;
}

.flex-container1 > div {
    width:auto;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}
.flex-container2 {
    border: 3px solid black ;
    display: flex;
    background-color: #f1f1f1;
}

.flex-container2 > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 3px;
    padding: 5px;
    font-size: 30px;
}

.flex-container3 {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f1f1f1;
}

.flex-container3 > div {
    padding-block-start: 10%;
    background-color: #f1f1f1;
    margin: 1px;
    padding: 2px;
    font-size: 15px;
}
.flex-container4 {
    text-align: center;
    justify-content:space-around;
    align-items: center;
    display: flex;
    background-color: white;
}

.flex-container4 > div {
    text-align: center;
    background-color: white;
    margin: 1px;
    padding: 2px;
    font-size: 15px;
}

.flex-container5 {
    justify-content: center;
        align-items: center;
        display: flex;
        background-color: #f1f1f1;
}

.flex-container5 > div {
    float: left;
    display: flex;
    background-color: #f1f1f1;
    margin: 1px;
    padding: 2px;
    font-size: 15px;
}

div.gallery {
    float:left;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 1px solid #ccc;
    height: 600px;
    width: 600px;
}
div.section {
      float: left;
  }
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    padding-right: 10px;
    width: 300px;
    height: 600px;
    float: left;
  }
aside {
    float: left;
    width: 50%;
}
div.title {
    margin-top: 0;
    padding-right: 11px;
    border: 1px solid #ccc;
    height: 200px;
    width: 300px;
    float: right;
}
div.desc {
    padding-right: 11px;
    padding-bottom: 7px;
    border: 1px solid #ccc;
    height: 400px;
    width: 300px;
    float: right;
}